* {
	box-sizing: border-box;
}

body {
	background-color: #1C1C1C;
	font-family: 'Calibri', 'Roboto', sans-serif;
}

.row.padded_row,
.row.padded_row > div {
	padding-top: 20px;
	padding-bottom: 20px;
}

#artext {

	background: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
	background-clip: text;
	display: inline;
	color:transparent;
	animation: animated 5s linear infinite;
}

@keyframes animated{

	to {background-position-x: 161px}
}

/* layout and common global classes */
/* ---------------------------------------------------------------------- */

./* layout and common global classes */
/* ---------------------------------------------------------------------- */

.chat_window {
	border-radius: 50px;
	box-shadow: 0 10px 20px rgba(255, 255, 255, .2);
	background-color: transparent;
	overflow: hidden;
}

.messages {
	position: relative;
	list-style: none;
	padding: 20px 10px 0 10px;
	margin: 0;
	height: 400px;
	overflow: scroll;
}

.messages .message {
	clear: both;
	overflow: hidden;
	margin-bottom: 20px;
	transition: all 0.5s linear;
	opacity: 0;
}

.messages .message .avatar {
	height: 40px;
	width: 40px;
	background-size: cover !important;
	border-radius: 50%;
	display: inline-block;
}

.messages .message .timestamp {
	font-size: 10px;
	font-weight: 300;
	text-align: right;
	margin-top: 5px;
}

.messages .message.appeared {
	opacity: 1;
}

.messages .message .text_wrapper {
	display: inline-block;
	padding: 20px;
	border-radius: 6px;
	min-width: 150px;
	position: relative;
}

.messages .message .text_wrapper::after,
.messages .message .text_wrapper::before {
	top: 18px;
	border: solid transparent;
	content: ' ';
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.messages .message .text_wrapper::after {
	border-width: 13px;
	margin-top: 0px;
}

.messages .message .text_wrapper::before {
	border-width: 15px;
	margin-top: -2px;
}

/* bot message */

.messages .message.left .avatar {
	float: left;
	background: url('./img/llama.jpeg');
}

.messages .message.left .text_wrapper {
	background-color: #bcbdc0;
	margin-left: 20px;
}


.messages .message.right .text_wrapper {
	background-color: #bcbdc0;
	margin-right: 20px;
	float: right;
}




.bottom_wrapper {
	background-color: transparent;
	padding: 20px;
	bottom: 0;
	display: flex;
}


.bottom_wrapper #msg_input {
	flex-grow: 1;
	outline-width: 0;
	padding: 12px;
	border: 1px solid #363636;
	border-radius: 50px;
	margin-right: 15px;
}

.app_button_1 {
	width: 140px;
	background-color: #fff;
	border-radius: 50px;
	cursor: pointer;
	padding: 12px;
	color: #000000;
	font-size: 18px;
	font-weight: 300;
	text-align: center;
}






footer {
  background-color: #000000; 
  color: #ffffff; 
  text-align: center;
  padding: 20px;
  font-size: 20px; 
}

